



@media screen and (max-width: 895px) {
    /* noticias */
    .noticias {
        flex-direction: column;
    }
    .noticias-div {
        width: 100%;
    }
    
    .noticias-div.flex {
        justify-content: center;
    }
    .noticias-div img {
        width: 310px;
        margin: 0px auto;
    }

    .noticias-content {
        width: 310px;
    }

    .noticias-btn-wraper {
        text-align: right;
        padding: 10px 0px;
    }
    .events {
        margin-top: 10px;
        align-self: flex-start;
    }    
}

/*  */

@media screen and (max-width: 840px) {
    

    .nav-links a, .search-form {
        font-size:  11px;
        padding-right: 8px;
    }

    .nav-links {
        justify-content: space-between;
    }

    /* navigation */
    .search-form {
        gap: 5px;
    }
    
    .search-form .input {
        width: 100px;
        height: 25px;
        font-size: 11px;
        padding-left: 5px;
    }
    
    .search-form button {
        height: 25px;
    }
}

/* tablet 768px */
@media screen and (max-width: 768px) {
/* header -> utility-bar */
  .mr-30, .ub-l-r {
    display: none;
 }

 /* Hero-content */
 #hero1 {
    height: 250px ;
    }
 #hero1 {
    height: 250px;
    }
 #hero1 .container, #hero2 .container {
    position: relative;
    top: -80px;
 }
 .hh-span, .el {
    font-size: 14px;
    width: 100%;
    padding-left: 40px;
        }
.other-hh span, .positiva-p  {
    font-size: 20px;
    }

    
    .el, .hh-span.hh-span {
        padding-left: 0px;
    }
    .hh-span:first-child {
        padding-left:50px ;
    }


    /* four column section */
    .four-column-section {
        position: relative;
        bottom: 200px;
    }
    /* Banner Section */

    .banner-wraper {
        flex-direction: column;
        gap: 15px;
    }
    .banner-slider {
        width: 100%;
    }
    .twitter-ifram {
        align-self: flex-start;
    }
    /* NewsLetter Section */
    .news-letter-wraper {
        flex-direction: column;
    }
    .news-img-wraper {
        width: 100%;
    }
    .news-wraper {
        align-self: flex-start;
        margin: 10px 0px;
    }

    /* two-img-gallery-section */
    .gallary-wraper {
        flex-direction: column-reverse;
        gap: 70px;
        margin-top: 10px;
        padding-top: 85px;
    }

    .img-gallery {
        width: 100%;
        flex-direction: column-reverse;
        padding-bottom: 210px;
    }
    .img1 {
        width: 345px;
        height: 300px;
    }

    .img1 {
        width: 300px;
        height: 120px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 63%;
    }
   
    .calender {
        width: 200px !important ;
    }
    .xyz {
        width: 100%;
        position: relative;
        left: 10px;
        top: -97px;
    }
    .main-sub-right.calender {
        width: 100% !important;
    }
    /* CTA-section */
    .cta-card {
        width: calc( 50% - 20px);
    }
}

/*  */

@media screen and (max-width: 600px) {


    /* utility bar */
    .responsive-fs::after {
        width: 0px; 
        height: 0px;   
    }
    main {
        padding-top: 143px;
    }

    /* header -> utility-bar */
        .ml-15{
            display: none;
            }   

    /* Responsive Navigation CSS */
    nav {
        display: none;
        height: 400px;
    }

    .nav-links {
        flex-direction: column-reverse;
        gap: 15px;
    }
    .nav-links:first-child, .nav-links a, .search-form {
        border-left: none;
        border-right: none;
    }
    /* nav-form */
    .search-form {
        gap:25px
    }
    .search-form .input {
        width: 80%;
    }
    
    .d-none {
        display: block;
        color: black;
        font-size: 10px ;
    }
    .nav-a-container {
        flex-direction: column;
        gap: 18px;
    }
    .nav-a-container a {
        justify-content: space-between;
    }
   
    /* subnavigation */
    .sub-nav {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 15px 37px;
    
        position: relative;
        left: 0%;
        bottom: 278px;

        transition: all 0.2s linear;
    
        /* visibility: hidden;  Change display to visibility */
    }

    /* navigation-logo Bar */
    .mobile-logo-bar {
        display: block;
        margin-left: -15px;
        padding-left: 15px;
        width: 100vw;
        height: 100px;
        background-color: #fff;
        justify-content: space-evenly;
        position: relative;
        padding-top: 15px;
    }


    /* Banner Slider */
    .banner-content {
        font-family: Helvetica;
        font-size: 30px;
        text-align: center;
        padding-top: 60px;
    }

}


/* mobile responsive */

/* on 665px active burger drop down menu */
@media screen and (max-width: 665px) {
    .logo-bar-r-img {
        display: none;
        }

    .burger {
        display: flex;
        position: absolute;
        padding-right: 15px;

        }
/* Responsive Navigation CSS */
nav {
    display: none;
    height: 400px;
}

.nav-links {
    flex-direction: column-reverse;
    gap: 15px;
}
.nav-links:first-child, .nav-links a, .search-form {
    border-left: none;
    border-right: none;
}
/* nav-form */
.search-form {
    gap:25px
}
.search-form .input {
    width: 80%;
}

.d-none {
    display: block;
    color: black;
    font-size: 10px ;
}
.nav-a-container {
    flex-direction: column;
    gap: 18px;
}
.nav-a-container a {
    justify-content: space-between;
}

/* subnavigation */
.sub-nav {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 15px 37px;

    position: relative;
    left: 0%;
    bottom: 278px;

    transition: all 0.2s linear;

        /* visibility: hidden;  Change display to visibility */
    }

    /* navigation-logo Bar */
    .mobile-logo-bar {
        display: block;
        margin-left: -15px;
        padding-left: 15px;
        width: 100vw;
        height: 100px;
        background-color: #fff;
        justify-content: space-evenly;
        position: relative;
        padding-top: 15px;
                    } 
        main {
            padding-top: calc(195px - 55.96px) ;
        }  
}

/* @media screen and (max-width: 425px) { */
@media screen and (max-width: 610px) {

    /* header -> utility-bar */
    .reponsive-fs {
    font-size: 9.2px !important;

    }
    /* hero section with hero1, hero2 id's */
    #hero2 {
        background-image: url('../asstes/hero.svg');
    }

    /* ---hero-section---  */

    .four-column-section .container {
        padding: 0px 0px;
        margin: 0px 25px;
    }
    .left-arrow, .right-arrow {
        position: absolute;
        width: 40px;
    }

    /* 4-column-section-1  */
    .four-column-section {
        margin: 0px 0px 15px 0px;
    }


    /* second-slider-section */

    .main-div .container {
        flex-direction: column;
    }
    /* .secon-cards {
        width: 100%;
    }*/
    .buscar-submit-btn {
        width: 288px;
    }

    .BUSCAR {
        width: 100%;
        margin-top: 10px;
    } 

    /* Noticias section */

    .noticias {
        flex-direction: column;
    }
    .noticias-div.flex {
        flex-direction: column;
        justify-content: center;
    }
    .noticias-div img {
        width: 310px;
        margin: 0px auto;
    }

    .noticias-content {
        width: 310px;
    }

    .noticias-btn-wraper {
        text-align: right;
        padding: 10px 0px;
    }

    .events {
        width: 100%;
    }

    /* news-letter-section */
    .news-img-wraper {
        display: none;
    }
    .main-sub-right.news-wraper {
        width: 100%;
    }
    .news-wraper {
        width: 100% !important;
    }
     /* Banner Slider */
     .banner-slider {
        height: 170px;
            }
     .banner-content {
        font-size: 24px;
        padding-top: 60px;
    }
    .banner-wraper.container {
        flex-direction: column;
        gap: 10px;
    }
    .banner-slider.wraper  {
        width: 100%;
    }
    .banner-slider {
        margin-top: 10px;
        margin-right: 0px !important;
    }

    .main-sub-left {
        width: 100%;
        
    }

    .twitter-ifram {
        width: 100%;
    }
    /*Gallery section  */
    .gallary-wraper {
        flex-direction: column-reverse;
        gap: 70px;
        margin-top: 10px;
        padding-top: 85px;
    }

    .img-gallery {
        flex-direction: column-reverse;
        padding-bottom: 210px;
    }
    .img1 {
        width: 345px;
        height: 300px;
    }

    .img1 {
        width: 300px;
        height: 120px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 45%;
    }
   
    .calender {
        width: 320px !important;
    }
    .xyz {
        width: 100%;
        position: relative;
        left: 10px;
        top: -97px;
    }
    .main-sub-right.calender {
        width: 100% !important;
    }

    /* CTA-section  */
    .cta-container {
        flex-direction: column;
    }
    .cta-cards {
        gap: 20px;
        height: auto;
    }
    .cta-card {
        width:100%;
    }

    .c-3, .c-4 {
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.521);
    }
    .c-6 {
        box-shadow: 0px 0px 0px var(--bg-primary);
    }

    .cta-right {
        
        border: none;
        border-top: 1px solid white;
    }
    .border-b{
        border-bottom: 0px solid white;
    }

    /* === Footer === */
    .footer {
        flex-direction: column-reverse;
        padding: 10px 15px;
    }
    .footer-content {
        width: 100%;
        flex-direction: column;
        gap: 20px
    }
    
    .footer-content p {
        font-family: Helvetica;
        font-size: 11.893px;
        cursor: pointer;
    }
    .footer-logo {
        width: 100%;
        margin-bottom: 20px;
    }



    /* ============ other Utility classes start ===================== */

    .main-sub-left {
        width: 100%;
        
    }

    .main-sub-right {
        width: 100%
    }

    /* ============ other Utility classes end ===================== */


}


@media screen and (max-width: 375px) {
    /* Hero conten */
    .hh-span, .el {
        font-size: 10px;
        width: 100%;
        padding-left: 40px;
            }
    .other-hh span, .positiva-p, .con  {
        font-size: 15px;
        }
    
        
        .el, .hh-span.hh-span {
            padding-left: 0px;
        }
        .hh-span:first-child {
            padding-left:50px ;
        }
}