@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Titillium+Web&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    color: #fff;
    /* color: black; */
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-primary: #FF7500 ;
    --bg-secondary: #3D4E5A ;
    --bg-third: #F4F4F4;


    --primary-text: ;
    --secondary-text: ;

}

a {
    text-decoration: none;
}


/* utilities class */

.container {
    max-width: 990px; 
    margin: 0 auto;
    padding: 0px 15px;
}

.flex {
    display: flex;
}


.jc-sb {
    justify-content: space-between;
}

.d-none {
    display: none;
}

/* header  */

header {
    position: fixed;
    width: 100%;

    z-index: 10000000
}

/* utility Bar */

.utility-bar {
    width: 100%;
    height: 29.01px;
    background-color: var(--bg-secondary);
}

.utility-bar .container {
    align-items: center;
    min-height: 29px;
}


.utility-bar-l  {
    /* height: 29.01px; */
    position: relative;
}
.utility-bar-l p {
    color: #FFF;
    font-size: 12.269px;
    transition: color 0.2s ease-in-out;
    padding: 8px 0px;

}
.utility-bar-l p:hover {
    color: var(--bg-primary);
    cursor: pointer;
}

.aydua-btn {
    background-color: var(--bg-primary);
    width: 57.99px;
    height: 28.03px;

    padding-left: 10px !important;
    transition: all 0.2s ease-out;
}

.aydua-btn:hover {
    background-color: white;
    color: var(--bg-primary);
}
.ml-15 {
    margin: 0px 15px;
}

.ub-l-r{
    margin-left: 15px;
    padding-left: 4px;
    border-left: 1px solid white;
}

.utility-bar-r {
    height: 28.92px;
    border-left: 1px solid white;
    padding-left: 5px;
    padding-right: 8px;
    gap: 15px
}

.utility-bar-r div.flex {
    align-items: center;
}

.utility-bar-r p, .utility-bar-r div.flex p, div.flex svg {
    font-size: 11.567px;
    transition: color 0.2s ease-out;
}

.responsive-fs::after {
    content: "";
    display: block;
    background-image: url('../asstes/pafter.png');
    position: absolute;
    top: 25px;
    background-size: contain; /* Adjust this property as needed */
    background-repeat: no-repeat;
    width: 100px; /* Set the width of your image */
    height: 10px;   
}
.pafter1::after{
    margin-left: 40px;
}

.utility-bar-r p:hover, .utility-bar-r div.flex p:hover, div.flex svg {
    color: var(--bg-primary);
    cursor: pointer;
}

.utility-bar-r div {
    gap: 10px;
}

/* Logo Bar */
.logo-bar-spacer {
    width: 100%;
    height: 25px;
    background-color: #fff;

    border-bottom: 1px solid rgba(128, 128, 128, 0.308);

}

.logo-bar {
    width: 100%;
    background-color: var(--bg-third);
    padding: 15px;
}

.logo-bar-l {
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
}

.burger {
    display: none;
    position: relative;
    right: 0px;
}

.logo-bar-r {
    justify-content: end;
    cursor: pointer;
}

/* ---- Navigation Bar ------- */

nav {
    width: 100%;
    height: 43px;
    background-color: var(--bg-primary);
}
nav.active {
    display: block ;
}

.nav-links .nav-a-container a {
    padding-left: 12px;
}
.nav-links form  {
    padding-top: 10px;    
    padding-bottom: 0px;
}

.nav-links {
    justify-content: space-between;
}
.nav-links a {
    padding: 10px 0px;
}
 
.nav-links:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.603);
}

.nav-links a, .search-form {
    font-size:  14px;
    border-right: 1px solid rgba(255, 255, 255, 0.603);
    transition: color 0.2s ease-out;

    padding-right: 18px;
}

.nav-links a:hover {
    color: var(--bg-secondary);
}

.search-form.flex {
    gap: 10px;
    position: relative;
    bottom: 3.5px;
}

.search-form .input {
    width: 190px;
    height: 30px;
    padding-left: 15px;
    color: var(--bg-secondary);

    border: none;
    outline: none;
    border-radius: 50px ;
}

.search-form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-logo-bar {
    display: none;
}

/* sub-navigation */
.sub-nav {
    max-width: 899px;
    gap: 90px;
    padding: 15px 37px;
    background-color: #636363e1;
    opacity: 0;

    position: relative;
    left: 22.8%;

    transition: all 0.2s linear;

    visibility: hidden;  /* Change display to visibility */
}

.primary-underline {
    color: #fff;
    font-family: Helvetica;
    font-size: 15px;
    transition: all 0.2s linear;

    position: relative;

}
.primary-underline::after {
    content: ""; /* Create a pseudo-element for the underline */
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the distance from the text to the underline */
    width: 100%;
    height: 2px; /* Set the underline height */
    background-color: var(--bg-primary); /* Underline color */
    
}
.primary-underline:hover {
    color: var(--bg-primary)
}

.sub-nav-left, .sub-nav-right {
    flex-direction: column;
    gap: 18px
}
/* ------------------------------------------------
   *****************_MAIN_*************************
---------------------------------------------------*/
main {
    padding-top: 186px;
}

/* #hero2 {
    width: 100%;
    height: 454.77px;
    max-height: 455px !important; 


    background-image: url('../asstes/heroflip.png');
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:inherit;

}  */
#hero1, #hero2 {
    width: 100%;
    height: 454.77px; /* define height becasue of bg*/

    background-image: url('../asstes/hero.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:inherit;

}



.hero-heading {
    width: 300px;
    position: relative;
    top: 100px;
}

.other-hh {
    width: 300px;
    margin:0px auto;
}
.hh-span {
    color: #FD7605;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.4px;
}

.el {
    color: var(--bg-secondary);
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}



.de {
    color: #3D4E5A;
    font-family: Helvetica;
    font-size: 34px;
    font-weight: 700;

    margin: 0px 87px;
}

.emp {
    display: inline-block;
    width: 300px;
    text-align: center;

    color: #FD7605;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 700;
}

.positiva-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.5px;
    margin-top: 8px;
}

.con {
    color: #3D4E5A;
    font-family: Segoe UI;
    font-size: 22.738px;
}

.positiva-p {
    
    color: #FD7605;
    font-family: Helvetica;
    font-size: 34.688px;
    font-weight: 700;
}

/* 4-column-section */
.four-column-section {
    position: relative;
    bottom: 160px;
}

.mySwiper1 {
    z-index: 1000;
}
.swiper-slider-c {
    min-width: 229px;
    min-height: 179.83px;;
    background-color: var(--bg-primary);

    border-bottom: 5px solid #D94817;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.swiper-slider-c:hover {
    background-image: url('../asstes/c-card-hover.jpg');
    background-color: cover;
}
.c-card {
    /* max-width:230px !important ; */
    

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.c-card img {
    width: 88px ;
}
.c-card-content {
    width: 100%;
    margin: 0px  25px;
}

.c-card-text {
    color: #FFF;
    text-align: center;
    font-family: Titillium Web;
    font-size: 19px;
}

.c-card-bold-text {
    color: #FFF;
    text-align: center;
    font-family: Titillium Web;
    font-size: 19px;
    font-weight: 900;
}

.c-card-btn {
    height: 22.61px;
    padding: 5px 17.81px;
    color: #fff;
    font-size: 12.744px; 
    font-weight: 300;
    background-color: var(--bg-primary);
    border: 1px solid white;

    cursor: pointer;
}


/* second slider */

.main-div {
    width: 100vw;
    height: auto;
    background-color: transparent;
    margin-top: -160px !important;
}

.main-div .container {
    align-items: flex-start;
}

.secon-cards {
    min-height: 200px;
    background-color: red;
    
}

.s-card img {
    width: 143px ;
    margin: 20px 0px;
}

.card-title {
    /* width: 200px; */
    color: var(--bg-primary);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.card-title::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-image: url('../asstes/aftercardtitle.jpg');
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
    left: 50%;
}

.s-card-p {
    color: #454545;
    text-align: center;
    font-size: 14px;
}
.s-card-footer {
    color: var(--bg-primary);
    font-size: 14px;
}

.BUSCAR {
    min-width: 246.32px;
    background-color: transparent;
    align-self: flex-end;
    margin-right: 6px;
    
}

.buscar-primary-btn {
    width: 50%;
    font-family: Helvetica;
    font-size: 11px;
    padding: 10px 0px;
    text-align: center;

    background-color: var(--bg-primary);
}

.buscar-secondary-btn {
    width: 50%;
    color: #686868;
    font-family: Helvetica;
    font-size: 11px;
    padding: 10px 0px;
    text-align: center;

    background-color: #D9D7D7;
}

.buscar-title {
    width: 100%;
    font-family: Helvetica;
    font-size: 11px;
    text-align: center;
    padding: 4px 0px;

    background-color: var(--bg-secondary);
}

.buscar-form {
    width: 100%;
    /* min-height: calc(318.54px - 36px); */
    border: 1px solid #68686888;
    box-shadow: 1px 1px 9px #68686888;

    padding: 10px 20px;


}

.buscar-form label,.buscar-form select option {
    color: #686868;
    font-family: Helvetica Light;
    font-size: 14px;
    font-weight: 300;
}

.buscar-form label, .buscar-form select  {
    width: 100%;
    margin: 5px 0px;
    cursor: pointer;
}

.buscar-form select  {
    max-width: 292.048px;
    height: 27.68px;
    padding-left: 10px;
    margin-top: 5px ;
    color: var(--bg-primary);
    outline-color: var(--bg-primary);
    accent-color: var(--bg-primary);
}

#firstForm, #secondForm {
    display: block;
}

/* #secondForm {
    display: none;
} */
/* --------------- */
select.drop-down {
    background-image:url('../asstes/dropdown-icon.svg');
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size: 10px;
    background-repeat: no-repeat;
    

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* --------------- */

.buscar-submit-btn {
    width: 100%;
    height: 29.64px;

    background-color: var(--bg-primary);
    font-family: Helvetica;
    font-size: 16.585px;
    border: none;
    transition: color 0.3s linear;

    cursor: pointer;
}

.buscar-submit-btn:hover,.news-letter-submit-btn:hover, .noticias-btn:hover {
    background-color: #fff;
    color: var(--bg-primary);
    border: 1px solid var(--bg-primary);
    
}

/* second main section  */

.main-bg-div {
    width: 100vw !important;
    background-color: #F1F1F1;
    overflow: hidden;
}

.noticias-div {
    width: calc(100% - 246.32px);
    margin-top: 10px;
}

.noticias-slider {
    width:  342px;
    position: relative;
}

/* ======================== */
/* Noticias slider */

#fs-img1, #fs-img2 {
    width: 340px;
    height: 340px;
}
#fs-img2 {
    display: none;
    /* opacity: 0.5; */
}



.btn-left, .btn-right {
    width: 20px;
    font-size: 30px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40%;
    color: #fff;
    cursor: pointer;
}

.btn-left {
    left: 15px;
    transform: rotate(180deg);
}
.btn-right  {
    right: 15px;
}

/* ========================== */

.noticias-content {
    flex-direction: column;
    gap: 10px;
    padding: 36px 15px 0px;
}
.noticias-heading {
    color: var(--bg-primary);
    font-size: 36px;
    font-weight: 600;
}
.noticias-title {
    color: var(--bg-primary);
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;   
}
.noticias-para {
    color: #454545;
    font-family: Helvetica;
    font-size: 13px;
}

.noticias-btn-wraper {
    width: 100%;
    text-align: center;
    padding-top: 82px;
}
.noticias-btn {
    width: 211.11px;
    text-align: center;
    padding: 5px 25px;
    background-color: var(--bg-primary);

    font-family: Helvetica;
    font-size: 16.585px;
    font-weight: 700;
    transition: all 0.2s linear;
    cursor: pointer;
}
.events {
    min-width: 246.32px;
    min-height: 365px;
    
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.301);
    /* background-color: transparent; */
    align-self: flex-end; 
    /* margin-right: 6px; */
}

.event-heading {
    width: 250px;
    height: 43.273px;
    line-height: 43.27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    color: #454545;
    font-size: 20px;
    font-weight: 700;

    padding-left: 30px;
}
.game-event-box {
    padding: 10px 0px 0px 30px;

}
.game-event {
    gap: 10px;
    margin-bottom: 18px;
}

.game-event-heading {
    color: #454545;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
}

.event-paragraph {
    color: #454545;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;   
}

.event-pagination {
    width: 100%;
    gap: 30px;
    padding: 10px 0px 10px 30px;
}

.event-left-arrow img {
    transform: rotate(180deg);
}

.event-left-arrow, .event-right-arrow {
    width: 33.965px;
    padding: 15px 10px 5px;    

    background: rgba(255, 133, 43, 0.50);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.event-left-arrow:hover, .event-right-arrow:hover {
    background-color: var(--bg-primary);
}

.more-events {
    color: #454545;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: underline;  
    transition: color 0.2s ease-out; 
}

.more-events:hover{
    color: var(--bg-primary);
}

/* ====== NewsLetter-section ======= */
.container.news-letter-wraper {
    margin-top: 10px;
}
.main-sub-left.news-img-wraper {
    background-image: url('../asstes/smskey.png');
    background-repeat: no-repeat;
    margin-right: 10px;
    padding: 30px;
}
.news-img-content { /* just for aligning text*/
    margin-left: 220px;
}
.news-img-btns {
    text-align: center;
    margin-top: 10px;

}
.news-img-heading {
    color: #FD7605;
    text-align: center;
    font-family: Helvetica ;
    font-size: 24.251px;
    font-weight: 600;
    letter-spacing: 0.728px;
 }
 .news-img-p {
    color: #FD7605;
    font-family: Helvetica;
    font-size: 13px;  
    text-align: center;    
 }
 .news-img-pbtn {
    padding: 4.6px 41.16px 6.04px 51.9px ;
    background-color: #FE9649;
    font-family: Helvetica;
    font-size: 16.585px;
    transition: filter 0.2s ease-out;
 }
.news-img-sbtn {
    padding: 4.6px 60.87px 6.04px 34.19px ;
    background-color: var(--bg-primary);
    font-family: Helvetica;
    font-size: 16.585px;
    transition: filter 0.2s ease-out;
}

.news-img-pbtn:hover, .news-img-sbtn:hover {
    filter: drop-shadow(0 0 10px var(--bg-primary));
}

.news-wraper {
    width: 261px !important;
}
.news-heading {
    color: var(--bg-primary);
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 700;   

    padding: 10px 0px 10px 30px;
}

.news-letter-form {
    padding: 10px 10px 10px 30px;

}

.news-letter-form input {
    width: 100%;
    padding: 5px 15px;
    color: #3D4E5A;
}

.news-letter-submit-btn {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0px;
    font-family: Helvetica;
    font-size: 16.585px;
    font-weight: 700;  
    margin-top: 7.63px;
    
    background-color: var(--bg-primary);
    border: none;
    transition: background-color 0.2s ease-out;
}

/* Banner Section */

.banner-wraper {
    /* align-items: flex-start; */
    align-items: center;
}
.banner-slider {
    height: 232px;
    background-color: var(--bg-primary);
    margin-right: 10px !important;
}

.banner-content {
    font-family: Helvetica;
    font-size: 48px;
    text-align: center;
    padding-top: 80px;
}

.twitter-ifram {
    margin-top: 5px;
}
.twitter-ifram img {
    width: 253px;
    min-height: 346px;
}

/* ===== Banner Slider Start */
#btn1, #btn2, #btn3 {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
}

.banner-btn-box {
    gap: 10px;
    width: 100%;
    justify-content: center;
    position: relative;
    top: 30px;
}
/* ===== Banner Slider End */

/* two-img-gallery-section */
.gallary-wraper {
    align-items: flex-start !important;
    position: relative;
    justify-content: flex-start !important;
}

.img-gallery {
    margin-top: 12px;
    margin-right: 10px;
    position: relative;
    justify-content: flex-end;

    top: -60px;
}

.img1 {
    width: 49%;
}

.img1 {
    width: 50%;
    position: absolute;
    left: 0%;
    top: 15%;

}

.xyz {
    width: 252.32px;
}
.calender {
    height: auto;
    position: absolute;
    right: 10px;
    top: 10px
}

.date-wraper {
    /* width: calc(100% - ); */
    height: 26.68px;
    border: 1px solid rgba(0, 0, 0, 0.301);
    margin: 10px 10px 10px 30px;
    padding: 5px 10px;

    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.date-input {
    color: rgba(0, 0, 0, 0.363);
    outline: none;
    border: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../asstes/calendar\ copia.svg') no-repeat;
    width: 20px;
    border-width: thin;
}

.calender-heading {
    padding: 10px 10px 10px 30px;
    background-color: var(--bg-primary);
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
}
/* ============ other Utility classes start ===================== */

.main-sub-left {
    width: calc(100% - 240.32px);
    
}

.main-sub-right {
    width: 252.32px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.301);
    align-self: flex-end;
}

/* ============ other Utility classes end ===================== */



/* ========= CTA-SECTION ========= */

#cta {
    width: 100%;
    height: auto;
    background-color: var(--bg-secondary);
    position: relative;
}

.cat-vertical-img {
    position: absolute;
    left:-40px;
    top: 50%;
    transform: translateY(-50%);
}
/* ----- for space around divs */

.cta-cards {
    margin: 30px 0px;
}
.border-b:first-child {
    margin-top: 30px;
}
.cta-r-4 {
    margin-bottom: 101px;
}
/* ------------------- */
.cta-cards {
    width: calc(100% - 300px);
    height: 346px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start !important;
}


.cta-card {
    width: calc( 33% - 20px);
    height: 172.02px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.2s ease-out;
    padding: 10px 0px;
}

.cta-card:hover {
    box-shadow: 1px 1px 8px var(--bg-primary);
}

.cta-img{
    width: 83.002px;
    height: 84px;
}

.cta-title {
    font-family: Helvetica;
    font-size: 18px;
}

.cta-bold-text{
    font-family: Helvetica;
    font-size: 21px;
    font-weight: 700;
}
 /* cta-right */
.cta-right {
    width: 300px;
    background-color: transparent;
    border: none;
    border-left: 1px solid white;
}

.cta-r-wraper {
    gap: 20px;
    padding: 10px 0px 25px 10px;
    cursor: pointer;
}
.cta-r-heading{
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 700;
}

.cta-r-title{
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 700;   
}
.cta-p-number {
    color: #F87E27;
    font-family: Helvetica;
    font-size: 28px;
    font-weight: 700;    
}
.cta-number {
    font-family: Helvetica;
    font-size: 28px;
    font-weight: 700;    
}

.email {
    gap: 10px;
    align-items: flex-start;
}

.email a {
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;    
}

.border-b{
    border-bottom: 1px solid white;
}

.cta-r-heading:hover, .cta-r-title:hover,
.cta-p-number:hover, .cta-number:hover, .no-class:hover,
.email a:hover {
    text-decoration: underline;
}
/* ==== Companies Section  */

.company-logo-2 {
    height:40px; 
    background-image: url('../asstes/company2svg.svg'); 
    background-repeat: no-repeat;
}
.company-logo-3 {
    height:40px; 
    background-image: url('../asstes/company3.jpg'); 
    background-repeat: no-repeat;
}
.company-logo-4 {
    height:45px; 
    background-image: url('../asstes/company4.png'); 
    background-repeat: no-repeat;
}
/* ===== footer section ==== */

footer {
    width: 100%;
    justify-content: center;
    background-color: #FD7605;
}

.footer {
    padding: 30px 0px;
}

.footer-content {
    width: calc(100% - 190px);
    flex-direction: column;
    gap: 18px
}

.footer-content p {
    font-family: Helvetica;
    font-size: 11.893px;
    cursor: pointer;
}
.footer-logo {
    width: 170px;
}



